<!DOCTYPE
html>
<html xmlns= "http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Server Programming</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">

</head>
<body>
<table>
<form th:object="${book}" th:action="@{../save}" action="#" method="post">
<input type="hidden" th:field="*{id}" class="form-control"/>
	<label for="title">title</label>

<input type="text" th:field="*{title}" />
	<label for="author">author</label>

<input type="text" th:field="*{author}" />
		<label for="year">year</label>

<input type="text" th:field="*{year}" />
		<label for="isbn">isbn</label>

<input type="text" th:field="*{isbn}" />
		<label for="isbn">price</label>

<input type="text" th:field="*{price}" />
<input type="submit" class="btn btn-success" value="Save"></input>
</table>
</form>




		


</body>
</html>